*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hier können Stiele für die ganze Webseite angegeben werden. */
body {
    margin: 0;
}

/* Hier werden 2 Elemente nebeneinander gepackt.
   Mit `display: flex;` können wir angeben in welche Richtung alle Kinder von
   einem Element ausgerichtet werden. Wählen wir `flex-direction: row`, dann
   werden Sie alle mit gleich viel Platz in einer Reihe nebeneinander platziert.
   Mit `flex-direction: column` werden Sie untereinander platziert. Das reicht
   um die meisten Elemente gut zu platzieren.
*/
.text-and-img {
    display: flex; /* Richtet die Elemnte in einer Zeile oder Reihe aus. */
    flex-direction: row; /* In einer Reihe ausgerichtet. */
    gap: 1rem; /* Abstand zwischen den Elementen.*/
    align-items: center; /* Ausrichtung in der Mitte entlang der anderen Achse. */
    justify-content: center; /* Ausrichtung in der Mitte entlang der Hauptachse */
    margin: 1rem; /* Abstand auf allem Seiten. */
}

/* Diese Regel beschreibt wie Bilder in diesem Container dargestellt werden. */
.text-and-img img {
    border-radius: 2rem; /* Damit können die Ecken abgerundet werden. */
    width: 100%; /* Braucht es damit das Bild im Container bleibt und nicht viel zu gross ist. */
}
.red {
    color: darkgreen;
}

h2 {
    color: pink;
    font-size: x-large;
    text-align: center;
}

.start img {
    width: 50%;
}
.start {
    text-align: center;
}
.my-title {
    color: darkviolet;
}

.img-size > img {
    width: 50%;
}
.img-size {
    text-align: center;
}

.hobby-title {
    text-align: center;
    background-color: coral;
    margin: 10px;
    color: darkred;
    font-size: xx-large;
}
.My-Hobby {
    color: rgb(177, 9, 9);
    text-align: center;
    font-size: x-large;
}

.bg-title {
    text-align: center;
    color: pink;
}

.bg-text {
    text-align: center;
    border: 5px dotted black;
    border-radius: 2rem;
    margin: 10px;
    padding: 1rem;
    font-size: large;
}

.image img {
    width: 70%;
    padding: 3rem;
}
.image {
    text-align: center;
}

.fr-titel {
    background-color: forestgreen;
}

.bg-hobby {
    text-align: justify;
    border: 5px dotted rgb(177, 9, 9);
    border-radius: 2rem;
    margin: 10px;
    padding: 1rem;
    font-size: large;
}
.grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}
.bg-reisen {
    text-align: center;
    color: indigo;
}

.tx-welt {
    text-align: center;
    border: 5px dotted black;
    border-radius: 4rem;
    margin: 10px;
    padding: 1rem;
}

.lesen {
    color: rgb(177, 9, 9);
    font-size: x-large;
}
.tx-lesen {
    text-align: justify;
    border: 5px dotted rgb(177, 9, 9);
    border-radius: 2rem;
    margin: 10px;
    padding: 1rem;
    font-size: large;
}
.songs {
    color: blueviolet;
}
.lb-song {
    border: 5px double blueviolet;
    background-color: plum;
    border-radius: 4rem;
    text-align: center;
    margin: 10px;
    padding: 1rem;
}
.K-pop {
    text-align: center;
    background-color: plum;
    border: 5px double blueviolet;
    border-radius: 2rem;
    margin: 10px;
    padding: 1rem;
}

.k-text {
    text-align: justify;
    background-color: plum;
    border: 5px double blueviolet;
    border-radius: 2rem;
    margin: 10px;
    padding: 1rem;
}
.grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}
.world-img {
    width: 50%;
}
